{% extends 'base.html' %}


{%block content%}
  {% if user.is_authenticated %}
    <h1>Hello, {{user.username}}!</h1>>
  {% endif%}
  {% if items == None %}
    {%for item in items%}
        <div class="row" style="margin: 50px;">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Подпись: {{item.name}}</h5>
                  <p class="card-text">{{item}}</p>
                  <a href="{%url 'detail' item.id%}" class="btn btn-primary">More detail</a>
              </div>
            </div>
          </div>
        </div>
    {%endfor%}
  {% else %}
        <h1>Nothing here!</h1>
  {% endif %}
{%endblock content%}