{% extends 'base.html' %}
{%load bootstrap5 %}


{%block content%}
    <div class='row justify-content-center'>
        {% if customer %}
        <form method='POST' style="margin: 50px" class="w-25">
            {% csrf_token %}
            {% bootstrap_form form  %}
            <button type="submit" class="btn btn-primary">
                Создать отправление
            </button>
        </form>
        {% else %}
        <div class="grid">
            <div class="row">
                <p class="lead">Отправка возможна только клиентами почтового сервиса</p>
            </div>
            <div class="row">
                <a href="{% url 'join' %}" class="btn btn-primary">Стать клиентом</a>
            </div>
        </div>
        {% endif %}
    </div>
{%endblock content%}